name: indent

on:
  pull_request:

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

permissions:
  contents: read

jobs:
  indent:
    # run the indent checks

    name: indent
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    #~ - name: setup
      #~ run: |
        #~ ./contrib/utilities/download_clang_format
    #~ - name: indent
      #~ run: |
        #~ ./contrib/utilities/check_indentation.sh
    - name: detect merges
      if: github.event_name == 'pull_request'
      run: |
        echo $(git show-branch master)
        echo $(git show-branch origin/master)
        echo $(git show-branch remotes/origin/master)
        echo $(git show-branch $GITHUB_BASE_REF)
        echo $(git show-branch dealii-test)
        echo $(git show-branch refs/pull/9/merge)
        echo $(git show-branch $GITHUB_HEAD_REF)
        echo $(git log --merges --pretty=format:"%h" master..dealii-test)
        echo $(git log --merges --pretty=format:"%h" $GITHUB_BASE_REF..$GITHUB_HEAD_REF)
        # bash ./contrib/utilities/detect_merges_from_master_in_feature_branch.sh $GITHUB_HEAD_REF $GITHUB_BASE_REF

  #~ doxygen:
    #~ # build the documentation

    #~ name: doxygen
    #~ runs-on: ubuntu-24.04

    #~ env:
      #~ MAKEFLAGS: "--jobs=4"

    #~ steps:
    #~ - name: setup
      #~ run: |
        #~ sudo apt update
        #~ sudo apt install doxygen graphviz perl texlive-bibtex-extra
        #~ doxygen --version
    #~ - uses: actions/checkout@v6
    #~ - name: build documentation
      #~ run: |
        #~ mkdir build
        #~ cd build
        #~ cmake -DDEAL_II_COMPONENT_DOCUMENTATION=ON -DDEAL_II_DOXYGEN_USE_MATHJAX=ON ..
        #~ make documentation
    #~ - name: check for doxygen errors and warnings
      #~ run: |
        #~ cd build
        #~ cat doxygen.log
        #~ # Suppress:
        #~ # warning: Inheritance graph for 'SmartPointer' not generated, too many nodes (138), threshold is 50. Consider increasing DOT_GRAPH_MAX_NODES.
        #~ # warning: Inheritance graph for 'Subscriptor' not generated, too many nodes (209), threshold is 50. Consider increasing DOT_GRAPH_MAX_NODES.
        #~ sed -i '/Inheritance graph/d' doxygen.log
        #~ # Suppress:
        #~ # warning: explicit link request to '<function>' could not be resolved
        #~ sed -i '/explicit link request to/d' doxygen.log
        #~ # Remove empty lines
        #~ sed -i '/^$/d' doxygen.log
        #~ # Check if remaining log is zero size
        #~ ! [ -s doxygen.log ] || exit 1
    #~ - uses: actions/upload-artifact@v6
      #~ with:
        #~ name: doxygen_documentation
        #~ path: build/doc/doxygen

  #~ pre-commit:
    #~ # run pre-commit checks

    #~ name: pre-commit
    #~ runs-on: ubuntu-24.04

    #~ env:
      #~ SKIP: clang-format, no-commit-to-branch, detect-merges-in-feature-branch

    #~ steps:
    #~ - uses: actions/checkout@v6
    #~ - run:  python -m pip install networkx
    #~ - uses: pre-commit/action@v3.0.1
